@import "tailwindcss";

@theme {
    --animate-spinx: spinx 5s linear infinite;
    @keyframes spinx {
        0%,
        100% {
            transform: scaleX(-1);
        }
        50% {
            transform: scaleX(1);
        }

    }

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }
}


body {
    @apply bg-neutral-900 text-stone-100
}

html, body, #root {
    @apply h-full
}

.blog-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--color-neutral-500);
}

.blog-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-neutral-500);
}

.blog-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-800);
    border-radius: 10px;
}

@utility primary-button {
    @apply text-base tracking-wider bg-blue-600 px-4 min-h-9 rounded-lg shadow-sm hover:bg-emerald-500 cursor-pointer flex items-center justify-center py-1 font-medium transition-colors
}

@utility secondary-button {
    @apply w-full flex items-center justify-center min-h-9 cursor-pointer py-1 px-4 transition-colors border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}

@utility primary-link {
    @apply text-indigo-500 hover:text-indigo-400
}